<%= form_tag('') do  %>



    <div class="field">
      Body:
      <textarea class = "form-control" name = "things_to_be_improved" required ></textarea>
    </div>
    <!--<div class="field">-->
    <%#= f.label :author %>
    <!--<br>-->
    <!--<%#= f.text_field :author %>-->
    <!--</div>-->
    <%#= f.hidden_field :author, :value => current_user.email %>
    <div class="actions">
      <%#= f.submit %>
    </div>
<% end %>
